rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    function isOwner(resource) {
      return request.auth != null && request.auth.uid == resource.data.createdBy;
    }
    function isOwnerOnCreate() {
      return request.auth != null && request.auth.uid == request.resource.data.createdBy;
    }

    match /registryItems/{itemId} {
      allow create: if isOwnerOnCreate();
      allow read, delete: if isOwner(resource);
      allow update: if isOwner(resource) && isOwnerOnCreate();
    }
    match /observations/{obsId} {
      allow create: if isOwnerOnCreate();
      allow read, delete: if isOwner(resource);
      allow update: if isOwner(resource) && isOwnerOnCreate();
    }
    match /alertDismissals/{dismissalId} {
      allow create: if isOwnerOnCreate();
      allow read, delete: if isOwner(resource);
      allow update: if isOwner(resource) && isOwnerOnCreate();
    }
    match /stagingItems/{itemId} {
      allow create: if isOwnerOnCreate();
      allow read, delete: if isOwner(resource);
      allow update: if isOwner(resource) && isOwnerOnCreate();
    }
    match /deviceSources/{sourceId} {
      allow create: if isOwnerOnCreate();
      allow read, delete: if isOwner(resource);
      allow update: if isOwner(resource) && isOwnerOnCreate();
    }
  }
}
